<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>
            .alert {
              padding: 10px;
              background-color: #f44336;
              color: white;
            }
            .closebtn {
              margin-left: 15px;
              color: white;
              font-weight: bold;
              float: right;
              font-size: 22px;
              line-height: 20px;
              cursor: pointer;
              transition: 0.3s;
            }

            /* When moving the mouse over the close button */
            .closebtn:hover {
              color: black;
            }
        </style>
        <title>Covid Resource Twitter Search</title>
    </head>

    <body>
        <nav class = "navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="http://rishivasa.pythonanywhere.com/TwitterCovidResourceSearch">Twitter Covid Resource Search</a>
        </nav>
        <br><br>
        <div class="container">
            <div class="row">
                <h3><u>How to Use:</u></h3>
            </div>
            <ol>
                <li>Enter City Name</li>
                <li>Select Search Criteria or Type specific search keyword in 'Other' field</li>
                <li>Select Optional Search Options</li>
                <li>Click on "Search Twitter" button to be redirected to Twitter</li>
                <li>Make sure search is sorted by "Latest"<br>
                    <img class="img-fluid" src="/static/images/TwitterLatestSearch.png" alt="Sort by Latest">
                </li>
                <li>If you want to make a new search, Press "Back" button on your browser and search again!</li>
            </ol>
            <br>
            <div class="row">
                <h3><u>Search Criteria:</u></h3>
            </div>
            <div class="row">
                <form method="post" action="/TwitterCovidResourceSearch">
                    <p>
                        <br>
                        <label for="cityName">Enter City Name:</label><br>
                        <input name="cityName"  id="cityName" placeholder="City" required="true" value="{{ request.form['cityName'] }}"/>
                    </p>

                    <br>
                    <label>Select Resources:</label><br>

                    <table class="table table-striped">
                        <tr>
                        <td><input type="checkbox" id="hospitalBed" name="check" value="bed OR beds" />
                        <small><label for="hospitalBed">Hospital Bed</label></small></td>

                        <td><input type="checkbox" id="icuBed" name="check" value="icu" />
                        <small><label for="icuBed">ICU Bed</label></small></td>

                        <td><input type="checkbox" id="oxygen" name="check" value="oxygen OR cylinder" />
                        <small><label for="oxygen">Oxygen Cylinder</label></small></td>
                        </tr>

                        <tr>
                        <td><input type="checkbox" id="ventilator" name="check" value="ventilator OR ventilators" />
                        <small><label for="ventilator">Ventilator</label></small></td>

                        <td><input type="checkbox" id="fabiflu" name="check" value="fabiflu" />
                        <small><label for="fabiflu">Fabilflu</label></small></td>

                        <td><input type="checkbox" id="remdesivir" name="check" value="remdesivir" />
                        <small><label for="remdesivir">Remdesivir</label></small></td>
                        </tr>

                        <tr>
                        <td><input type="checkbox" id="favipiravir" name="check" value="favipiravir" />
                        <small><label for="favipiravir">Favipiravir</label></small></td>

                        <td><input type="checkbox" id="tocilizumab" name="check" value="tocilizumab" />
                        <small><label for="tocilizumab">Tocilizumab</label></small></td>

                        <td><input type="checkbox" id="amphotericinB" name="check" value="amphotericin b OR amphotericin OR ampho" />
                        <small><label for="amphotericinB">Amphotericin B</label></small></td>
                        </tr>

                        <tr>
                        <td><input type="checkbox" id="plasma" name="check" value="plasma" />
                        <small><label for="plasma">Plasma</label></small></td>

                        <td><input type="checkbox" id="rtpcr" name="check" value="rtpcr OR rt-pcr OR covid test" />
                        <small><label for="rtpcr"> RT-PCR Test</label></small></td>

                        <td><input type="checkbox" id="tiffin" name="check" value="tiffin OR food" />
                        <small><label for="tiffin">Tiffin Services</label></small></td>
                        </tr>

                        <tr>
                        <td><input type="checkbox" id="ambulance" name="check" value="ambulance OR ambulances" />
                        <small><label for="ambulance">Ambulance</label></small></td>

                        <td><input type="checkbox" id="mentalHealth" name="check" value="mental health OR counselling OR psychotherapist OR counsellor OR psychotherapy" />
                        <small><label for="mentalHealth">Mental Health</label></small></td>

                        <td><input type="checkbox" id="wheelchair" name="check" value="wheelchair OR wheelchairs" />
                        <small><label for="wheelchair">Wheelchair</label></small></td>
                        </tr>
                    </table>

                    <p>
                        <label for="other">Other:</label><br>
                        <input name="other"  id="other" value="{{ request.form['other'] }}"/>
                    </p>

                    <div >
                        <h3><u>Search Options:</u></h3>
                    </div>
                    <div>
                        <br>
                        <input type="checkbox" id="verified" name="exclude" value="verified" checked />
                        <label for="verified">Show Verified Tweets. (Can Limit search results)<br>(Tweet should contain "verified" keyword)</label>
                        <br>
                        <input type="checkbox" id="unverified" name="exclude" value="unverified" checked />
                        <label for="unverified">Exclude Unverified Tweets.<br>(Tweet should <b>NOT</b> contain "unverified" keyword)</label>
                        <br>
                        <input type="checkbox" id="needed" name="exclude" value="needed" checked />
                        <label for="needed">Exclude "Needed".<br>(Tweet should <b>NOT</b> contain "needed" keyword)</label>
                        <br>
                        <input type="checkbox" id="required" name="exclude" value="required" checked />
                        <label for="required">Exclude "Required".<br>(Tweet should <b>NOT</b> contain "required" keyword)</label>
                        <br>
                        <label for="otherExclude">Any Other Keyword to Exclude:</label><br>
                        <input name="otherExclude"  id="otherExclude" value="{{ request.form['otherExclude'] }}"/>
                    </div>

                    <br><br>

                    <p><input type="submit" class="btn btn-success btn-lg" value="Search Twitter" /></p>

                    {% if errors %}
                        <div class="alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong>Error: </strong><br>{{errors}}
                        </div>
                    {% endif %}

                    {% if searchURL %}
                        <script>
                            function searchTwitter(searchURL) {
                                searchURL = searchURL.replace("&amp;", "&");
                                window.location = searchURL;
                            }
                            window.searchTwitter('{{searchURL}}');
                        </script>
                    {% endif %}
                </form>
            </div>

        </div><!-- /.container -->
    </body>
    <footer class="text-center text-lg-start" style="background-color: #e3f2fd;">
        <div class="text-center p-3">
        © April 2021 Project by Rishi Vasa
        </div>
    </footer>
</html>